<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
<!--         <stats number="6" comments="New comments!" colour="primary" type="comments"></stats>
        <stats number="12" comments="New tasks!" colour="primary" type="user"></stats>
        <stats number="18" comments="New orders!" colour="yellow" type="shopping-cart"></stats>
        <stats number="24" comments="Support tickets!" colour="red" type="support"></stats>
 -->
    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">

            <table st-table="inventoryItems" class="table table-striped">
                <thead>
                <tr>
                    <th>first name</th>
                    <th>last name</th>
                    <th>birth date</th>
                    <th>balance</th>
                    <th>email</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in inventoryItems">
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.birthDate}}</td>
                    <td>{{item.balance}}</td>
                    <td>{{item.email}}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
